<div class="row">
  <div class="col-md-8">
		<%= bootstrap_form_for([@news, @news.comments.build], remote: true) do |f| %>
		  <%= render 'shared/error_messages', object: f.object %>
		  <%= f.text_field :author, autocomplete: "name", label: "Full Name", required: true, value: current_user.name + " " + current_user.last_name if user_signed_in? %>
		  <%= f.text_area :comment, rows: "4", required: true %>

		  <%= f.submit "Publish comment", class: "btn btn-success" %>
		<% end %>
  </div>
</div>