<% provide(:title, 'News') %>

<%= link_to 'New News', new_news_path, class: "btn btn-success", style: "float: right" %>

<h1>News</h1>

<div class="row">
  <% @news.each do |news| %>
    <%= link_to(news, class: "news-link") do %>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-info">
          <div class="panel-heading">
            <% if user_signed_in? %>
              <div class="row">
                <div class="col-xs-12">
                  <object><%= link_to "Edit", edit_news_path(news), class: "btn btn-primary col-xs-5" %></object>
                  <object><%= link_to "Delete", news, data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger col-xs-5 col-xs-offset-2" %></object>
                </div>
              </div>
            <% end %>
            <h4><%= truncate(news.headline, :length => 200) %></h4>
          </div>
          <div class="panel-body">
            <%= simple_format(truncate(news.subhead, :length => 200)) %>
            <hr>
            <small><%= simple_format(truncate(news.copy, :length => 500)) %></small>
          </div>
          <div class="panel-footer container-fluid">
            <div class="text-left" style="display: inline-block;">
              <%= news.created_at.strftime("%d-%m-%y %H:%M") %>
            </div>
            <div class="text-right" style="display: inline-block; float: right;">
              <span class="badge"><%= pluralize(news.ncom, "comentarios")%></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
