<% provide(:title, @news.short_headline(30)) %>

<div class="row">
	<% if user_signed_in? %>
		<%= link_to "Edit", edit_news_path(@news), class: "btn btn-primary col-xs-3" %></object>
  	<%= link_to "Delete", @news, data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger col-xs-3 col-xs-offset-6" %>
  	<br>
		<br>
  <% end %>

	<br>
	<div class="col-xs-12">
			<font size="5">
				<%= @news.headline %>
			</font>
			<br>
			<br>
			<font size="3">
				<%= simple_format(@news.subhead) %>
			</font>
			<hr>
			<font size="2">
				<%= simple_format(@news.copy) %>
			</font>
			<br>
			<br>
			<font size="1" style="float: right;">
				<%= @news.created_at.strftime("%d-%m-%y %H:%M") %> - <i><%= @news.author.name + " " + @news.author.last_name %></i>
			</font>
			<hr style="height:2px;border:none;color:#333;background-color:#333;">
			<font size="5">
				Comentarios
			</font>

	</div>
</div>

<%= link_to 'Back', news_index_path, class: "btn btn-primary col-xs-3" %>
